:root {
    --main-bg-color: #03120E;
    --main-text-color: #8AB0AB;
    --highlight-text-color: #FF7F11;
    --charcoal: #3E505B;
    --dark-slate-grey: #26413C;
    --erie-black: #1A1D1A;
    --midnight-green: #074F57;
    --cobalt-blue: #004BA8;
}

.herocontainer {
    padding-top: 50px;
    display: flex;
    width: 80%;
    table-layout: fixed;
    margin-right: 140px;
    margin-left: 140px; 

}
.herotext {
    display: table-cell;
    text-align: left;
    color: var(--main-text-color);
}
.herotext h2 {
    font-family: Carlito, serif;
    font-weight: 200;
    font-style: bold;
 
}

.herotext span {
    font-weight: 400;
    color: var(--highlight-text-color);
}

.heroimagesection {
    border-radius: 20px;
    margin-left: 10pxw;
    align-items: left;

}

.herobuttongroup {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    
}

.bookridebutton {
    margin-right: 10px;
    padding: 10px;
}
.learnmorebutton {
    margin-right: 10px;
    padding: 10px;
}