:root {
    --main-bg-color: #03120E;
    --main-text-color: #8AB0AB;
    --charcoal: #3E505B;
    --dark-slate-grey: #26413C;
    --erie-black: #1A1D1A;
}

body {
    background-color: var(--main-bg-color);
}

a {
    font-size: 20px;
    font-family: Carlito, serif;

}

.header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    gap: 10px;
    margin-top: 5vh;
    justify-content: space-between;
}

.headertitle {
    font-size: 45px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin-left: 10vw;
    font-family: Carlito, serif;
    transition: 0.3s
}
.headertitle:hover {
    color: var(--dark-slate-grey);
    
    transition-delay: 20ms;
   
}

.headerlogo {
    display: block;
    width: 50px;
    height: 50px;
}

.headerlinkscontainer {
    font-size: 20px;
    color:var(--main-text-color);
    width: 600px;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    
}
.headerlinkscontainer a {
    margin: 20px;
    transition: 0.3s
}
.headerlinkscontainer a:hover {
  color: var(--dark-slate-grey);
}
.headerbuttoncontainer {
    display: flex;
    margin-right: 10vw;
}

.signin-container button {
    margin: 20px;
}
.signinbutton {
    width: 100px;
    padding: 10px;
    font-size: 18px;
    margin: none;
    border-radius: 7px;
    background-color: var(--charcoal);
    color: var(--main-text-color);
    opacity: 0.5;

}

.signinbutton:hover {
    color: var(--main-text-color);
    background-color: var(--charcoal);
    border: var(--main-text-color) solid 1px;
    opacity: 1;
    cursor: pointer;
}

.registerbutton {
    width: 100px;
    padding: 10px;
    font-size: 18px;
    margin-right: 5vw;
    border-radius: 7px;
    background-color: var(--charcoal);
    color: var(--main-text-color);
    opacity: 0.5;

}

.register-container button {
    margin: 20px;
}

.registerbutton:hover {
    color: var(--main-text-color);
    background-color: var(--charcoal);
    border: var(--main-text-color) solid 1px;
    opacity: 1;
    cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .headerlinkscontainer {
        flex-direction: column;
        flex-wrap: wrap;
    }
}