:root {
    --main-bg-color: #03120E;
    --main-text-color: #8AB0AB;
    --charcoal: #3E505B;
    --dark-slate-grey: #26413C;
    --erie-black: #1A1D1A;
  }

body {
    background-color: var(--main-bg-color);
}
.header{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.headertitle{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin-left: 5vw;
    font-family: Carlito, serif;
}

.signinbutton {
    padding: 10px;
    font-size: 18px;
    margin-right: 5vw;
    margin-top: 20px;
    border-radius: 7px;
    background-color: var(--charcoal);
    color: var(--main-text-color);
    opacity: 0.5;
    
}

.signinbutton:hover {
color: var(--main-text-color);
background-color: var(--charcoal);
border: var(--main-text-color) solid 1px;
opacity: 1;
cursor: pointer;
}